extends layout.pug

include utils.pug

block content
  body
    if (locals.authenticated)
      h1 Welcome, #{user.firstName}!
      h2 My Profile
      h3 Recent Questions
        div
          for question in questions
            div(class='profile-question-divs' id=`profile-question-container-${user.id}` style={'padding': '20px', 'dotted': '4px solid black'})
              a= question.title
              a= question.content
              img(src=question.imgLink)
    else
      h1 Sign in to view profile
        a(id="user-login" href="/users/login") Log In

