extends layout.pug

include utils.pug

block content
  script(src='/javascripts/questions.js' type='module' defer)
  script(src='/javascripts/profile-bttns.js' type='module' defer)
  link(rel='stylesheet' href='/stylesheets/profile.css')
  body
  div(class='main-container')
    if (locals.authenticated)
      h1 Welcome, #{user.firstName}!
      h2 My Profile
      h3 My Recent...
        h4(class='user-profile-content-container')
          div(class='prof-filter') Questions
            button(type='button' id='profile-questions')
          div(class='prof-filter') Answers
            button(type='button' id='profile-answers')
          div(class='prof-filter') Comments
            button(type='button' id='profile-comments')
        div
          div(class='hidden profile-question-divs' id=`profile-question-container-${user.id}` style={'padding': '20px', 'dotted': '4px solid black'})
            for question in questions
              div(class='question-items')
                div(class='question-title')
                  a(class='title' href=`/questions/${question.id}`)= question.title
                  p posted: #{question.createdAt}
                div(class='question-content')
                  a= question.content
                div(class='question-img')
                  img(src=question.imgLink)
        div
          div(class='hidden profile-answer-divs' id=`profile-answer-container-${user.id}`)
            for answer in answers
              div(class='answer-items')
                a(class='title' href=`/questions/${answer.questionId}`)= answer.content
                p posted: #{answer.createdAt}
        div
          div(class='hidden profile-comment-divs' id=`profile-comment-container-${user.id}`)
            for comment in comments
              div(class='comment-items')
                a(href=`/questions/${comment.answerId}`)= comment.content
                p posted: #{comment.createdAt}
    else
      h1 Sign in to view profile
        a(id="user-login" href="/users/login") Log In
