extends layout.pug

include utils.pug

block content
    script(src='/javascripts/question-details.js' type='module')
    link(rel='stylesheet' href='/stylesheets/edit.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet")
    div(id='detail-container')
        h1= question.title
            h3= question.content
            img(src=question.imgLink)
    div(id="form-container")
        if activeUser === question.userId
            //- a(class='delete-button' id=`delete-question-${question.id}` href=`/questions/delete/${question.id}`) Delete
            a(class='edit-button' id=`edit-question-${question.id}`) Edit
            a(href=`/questions/delete/${question.id}` onclick="return confirm('Are you sure you want to delete this item?');" class='edit-button' id=`edit-question-${question.id}`) Delete
            +validationErrorSummary(errors)
            form(action=`/questions/${question.id}` method='post' class='hidden' id=`edit-form-${question.id}`)
                input(type='hidden' name='_csrf' value=csrfToken)
                label(for='title') Title:
                input(type='text' name='title' value=question.title)
                label(for="content") Content:
                input(type="text" name='content' value=question.content)
                label(for='imgLink') Image Link:
                input(type='text' name='imgLink' value=question.imgLink)
                button(class='edit-submit-btn' id=`edit-btn-${question.id}`) Submit Edit
