extends layout.pug

include utils.pug

block content
    script(src='/javascripts/question-details.js' type='module')
    script(src='/javascripts/answers.js' type='module')
    script(src='/javascripts/comments.js' type='module')
    link(rel='stylesheet' href='/stylesheets/edit.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet")
    div(id="all-container")
        div(class='main-container')
            if activeUser === question.userId
                div(id='button-container')
                    div(id='delete-question-btn')
                        a(href=`/questions/delete/${question.id}` onclick="return confirm('Are you sure you want to delete this item?');" class='delete-question' id=`delete-question-${question.id}`) Delete
                    div(id='edit-question-btn')
                        button(class='edit-button' id=`edit-question-${question.id}`) Edit
                        +validationErrorSummary(errors)
                        form(action=`/questions/${question.id}` method='post' class='hidden' id=`edit-form-${question.id}`)
                            input(type='hidden' name='_csrf' value=csrfToken)
                            label(for='title') Title:
                            input(type='text' name='title' value=question.title)
                            label(for="content") Content:
                            input(type="text" name='content' value=question.content)
                            label(for='imgLink') Image Link:
                            input(type='text' name='imgLink' value=question.imgLink)
                            button(class='edit-submit-btn' id=`edit-btn-${question.id}`) Submit Edit
        div(id='detail-container')
            div(id='username-div')
                p= question.User.username
            div(id='question-content-div')
                h1= question.title
                h3= question.content
                img(src=question.imgLink class='question-img')
        div(id="form-container")
            div(id='answer-question-btn')
                button(class='create-answer' id=`create-answer-${question.id}`) Add Answer
                +validationErrorSummary(answerErrors)
                form(action=`/answers/new` method='post' class='hidden' id=`answer-form-${question.id}`)
                    input(type='hidden' name='_csrf' value=csrfToken)
                    input(type='hidden' name='questionId' value=question.id)
                    label(for="content") Content:
                    input(type="text" name='content' value='')
                    button(class='answer-submit-btn' id=`answer-btn-${question.id}`) Submit Answer
        if question.Answers.length > 0
            for answer in question.Answers
                div(class=`answer-container` id=`answer-container-${answer.id}`)
                    h3= answer.content
                    p= answer.User.username
                    if activeUser === answer.userId
                        div(id='body-btns')
                        a(href=`/answers/delete/${answer.id}` onclick="return confirm('Are you sure you want to delete this answer?');" class='delete-answer' id=`delete-answer-${answer.id}`) Delete
                        button(class='edit-answer-btn' id=`edit-answer-btn-${answer.id}`) Edit
                        form(class='hidden' id=`edit-answer-form-${answer.id}`)
                            label(for="content") Content:
                            input(type="text" name='content' value=answer.content id=`content-field-${answer.id}`)
                            button(class='edit-submit-btn' id=`submit-answer-btn-${answer.id}`) Submit Edit
                    div(id='comment-form-container')
                        div(id='comment-answer-btn')
                            if activeUser !== answer.userId
                                button(class='create-comment' id=`create-comment-${answer.id}`) Reply
                                +validationErrorSummary(commentErrors)
                                form(action=`/comments/new` method='post' class='hidden' id=`comment-form-${answer.id}`)
                                    input(type='hidden' name='_csrf' value=csrfToken)
                                    input(type='hidden' name='answerId' value=answer.id)
                                    label(for="content") Content:
                                    input(type="text" name='content' value='')
                                    button(class='comment-submit-btn' id=`comment-btn-${answer.id}`) Submit Comment
                for comment in answer.Comments
                    div(class=`comment-container` id=`comment-container-${comment.id}`)
                        div(id='comment-body')
                            h4= comment.content
                            p= comment.User.username
                            if activeUser === comment.userId
                                div(id='body-btns')
                                    button(href=`/comments/delete/${comment.id}` onclick="return confirm('Are you sure you want to delete this comment?');" class='delete-comment' id=`delete-comment-${comment.id}`) Delete
                                    button(class='edit-comment-btn' id=`edit-comment-btn-${comment.id}`) Edit
                                    form(class='hidden' id=`edit-comment-form-${comment.id}`)
                                        label(for='content') Content:
                                        input(type='text' name='content' value=comment.content id=`content-field-${comment.id}`)
                                        button(class='edit-submit-btn' id=`submit-comment-btn-${comment.id}`) Submit Edit
                        //- p(id=`answer-content-${answer.id}`)= answer.content
