extends layout.pug

include utils.pug

block content
  link(rel='stylesheet' href='/stylesheets/login.css')
  link(rel='stylesheet' href='/stylesheets/reset.css')
  link(rel='stylesheet' href='/stylesheets/search-results.css')
  script(src='/javascripts/search-questions.js' type='module')
  script(src='/javascripts/questions.js' type='module')
  body
    div(class='main-container')
      h1= questionTitle
        div
          for question in questions
           div(class='search-question-divs' id=`search-question-container-${question.userId}` style={'padding': '20px', 'dotted': '4px solid black'})
              div(class='question-items')
                div(class='question-title')
                  a(class='title' href=`/questions/${question.id}`)= question.title
                  p(class='timestamp') posted: #{question.createdAt}
                div(class='question-content')
                  a= question.content
                div(class='question-img')
                  img(src=question.imgLink)
